@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
    background-color: #FFFFFF;
    background-image: url("img/colourblots.png");
    background-repeat: repeat;
}
#container {
    background-color: #CFCFCF;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-radius: 2em;
}
/*@font-face {
    font-family: Pangolin,
    src: url(fonts/Pangolin-Regular.ttf);
}*/
h1 {
    text-align: center;
    font-size: 4em;
    font-family: "Pangolin", cursive;
    padding-top: 0.7em;
}
p {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding-bottom: 1.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-weight: none;
}
video {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 400px;
}
form {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding-bottom: 1.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}
form ul {
    list-style: none;
    padding: 0em;
    margin: 0;
}
form li {
    padding-bottom: 1em;
}
input, textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.pagelink {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    padding-bottom: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    /*background-color: #B254DD;*/
    /*display: block;*/
    /*max-width: 85px;*/
    background-image: url("img/menubutton.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    font-family: "Pangolin", cursive;
    font-weight: none;
    text-decoration: none;
    /*padding: 0.8em;*/
    padding: 1.8em;
    margin: 0.8em;
    /*border-radius: 2em;*/
    line-height: 3em;
}
.button:hover {
    /*font-weight: bold;*/
    /*background-color: #8E3EB1;*/
    background-image: url("img/highlightbutton.png");
}
.buttoncurrent {
    /*background-color: #8E3EB1;*/
    background-image: url("img/highlightbutton.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    font-family: "Pangolin", cursive;
    /*font-weight: bold;*/
    text-decoration: none;
    /*padding: 0.8em;*/
    padding: 1.8em;
    margin: 0.8em;
    /*border-radius: 2em;*/
}
.storypage {
    background-color: #B254DD;
    color: #FFFFFF;
    font-size: 1.7em;
    border-radius: 2em;
    padding: 0.8em;
    margin-top: 12em;
    text-decoration: none;
}
.storypage:hover {
    font-weight: bold;
    background-color: #B254DD;/*CHANGE TO DARKER PURPLE*/
}
